/* Styling for device sizes between 0px and 768px */
@media only screen and (min-width: 0px) and (max-width: 768px) {
   .product-display-container {
      max-width: 270px;
   }
}



/* ProductDisplay component */
.product-display-container {
   margin: 0 auto;
   border: 1px solid black;
   padding: 10px;
   background-color: aliceblue;
}

.product-display-image {
   max-width: 100%;
   background-color: rgb(230, 236, 255);
}

.product_display_default_size {
   max-height: 250px;
   max-width: 100%;
}

.bg-sale {
   background-color: #2c7cc1;
   float: right;
   font-size: 12px;
   position: absolute;
   left: 70%;
   top: 5px;
   width: 26%;
}



.cart-product-display {
   margin: 0 auto;
   border: 3px solid black;
}



/* Reusable styling */
.fs-14px {
   font-size: 14px;
}

.position-relative {
   position: relative;
}

.bg-color-0059a7 {
   background-color: #0059a7;
}

.footer {
   height: 100px;
}

.rounded-corners {
   border-radius: 15px 15px 15px 15px;
}