/* ProductDisplay component */

.product-display-container {
   margin: 0;
   border: 1px solid black;
   background-color: aliceblue;
}

.product-display-image {
   margin: 5%;
   width: 90%;
   height: 60%;
   background-color: rgb(230, 236, 255);
}

.abc {
   margin-top: 30%;
}

/* Reusable styling */

.fs-14px {
   font-size: 14px;
}